{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
home
{% endblock title %}

{% block content %}
<div class="row mt-3">
    <div class="col">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {{form|crispy}}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col col-md-6 offset-md-6 col-lg-4 offset-lg-8 d-grid">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <h2 class="h2">Sales dataframe</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {% if sales_df %}
            {{sales_df|safe}}
        {% else %}
            <h3 class="h3">No sale data</h3>
        {% endif %}
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <h2 class="h2">Positions dataframe</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {% if positions_df %}
            {{positions_df|safe}}
        {% else %}
            <h3 class="h3">No position data</h3>
        {% endif %}
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <h2 class="h2">Merged dataframe (JOIN)</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {% if merged_df %}
            {{merged_df|safe}}
        {% else %}
            <h3 class="h3">No data</h3>
        {% endif %}
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <h2 class="h2">Grouped dataframe with price aggregate (GROUP BY transaction_id)</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {% if grouped_df %}
            {{grouped_df|safe}}
        {% else %}
            <h3 class="h3">No data</h3>
        {% endif %}
    </div>
</div>
    
{% endblock content %}

